.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.toprow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  width: 33.33%,33.33%,33.33%;
}
.bottomrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70%;
  width: 30%,40%,30%;
}
.participants {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  box-sizing: border-box;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
}
.videocalling {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  box-sizing: border-box;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  box-sizing: border-box;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
}
.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.collab {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  box-sizing: border-box;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
}
.checkbox/notes{
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  font-size: 1.2rem;
}
