.todo-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            margin-bottom: 5px;
            transition: background-color 0.3s ease;
        }
        /* Apply strikethrough effect to completed todos */
        .completed label {
            text-decoration: line-through;
        }
        /* Apply background color for checked todos */
        .completed {
            background-color: darkgray;
        }
.popup-window {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      height: 20%;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      z-index: 9999;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
    }
    
    .popup-window form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
    
    .popup-window label {
      margin-bottom: 10px;
    }
    
    .popup-window input[type="text"] {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 10px;
    }
    
    .popup-window input[type="submit"] {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .popup-window input[type="submit"]:hover {
      background-color: #3e8e41;
    }
    
    .close-button {
      padding: 10px 20px;
      background-color: #f44336;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .close-button:hover {
      background-color: #e53935;
    }
